# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Env (nu comite credențiale)
.env
.env.local
.env.*.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
*.log
